<router-outlet></router-outlet>

<!-- O router-outlet no Angular é uma diretiva usada em aplicativos que utilizam o sistema de roteamento do Angular. Ele serve como um ponto de aninhamento para as rotas definidas na aplicação, permitindo que diferentes componentes sejam renderizados dinamicamente com base na URL da aplicação.

Funções principais do router-outlet:
Renderização Dinâmica: Ele substitui o conteúdo do router-outlet com o componente correspondente à rota ativa. Por exemplo, quando você navega para uma nova rota, o Angular renderiza automaticamente o componente associado àquela rota dentro do router-outlet.

Gerenciamento de Estado: O router-outlet permite que você mantenha um estado específico da aplicação, já que diferentes componentes podem ser carregados ou descarregados conforme a navegação.

Estrutura de Navegação: Em uma aplicação com múltiplas páginas, você pode usar vários router-outlets para criar um layout complexo, permitindo que diferentes seções da interface do usuário sejam atualizadas independentemente.

Aninhamento de Rotas: Com o router-outlet, você pode definir rotas filhas (aninhadas), permitindo uma hierarquia de componentes e rotas. Isso é útil para criar layouts mais complexos. -->
