.input-wrapper {
  color: #3333;
  font-size: 20px;
  text-align: start;

  label {
    margin-bottom: 10px;
  }

  .input-content {
    display: flex;
    width: 100%;

    input {
      width: 100%;
      border: none;

      border-bottom: 1px solid #238662;
      background-color: #ebebeb;
      outline: none;
      padding: 12px 0 12px 20px;
    }

    .icon {
      background-color: #238662;
      border-radius: 0px 8px 8px 0px;
      padding: 12px;

      img {
        height: 20px;
      }
    }
  }
}
