<main>
  <section>
    <div class="header-table">
      <app-input type="text" placeholder="Pesquisar..." />
      <app-button name="Adicionar" (click)="openModalAdded()"></app-button>
    </div>

    <table>
      <thead>
        <tr>
          <th>Usuário</th>
          <th>Título</th>
          <th>Data da operação</th>
          <th>Valor efetuado</th>
          <th>Pago</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        @for (user of response$ | async; track user.title) {
        <tr>
          <td style="width: 500px">{{ user.name }}</td>
          <td>{{ user.title }}</td>
          <td>{{ user.date | date : "dd/MM/yyyy" }}</td>
          <td>{{ user.value | currency : "BRL" }}</td>
          <td style="width: 10px">
            <input
              type="checkbox"
              [checked]="user.isPayed"
              class="checkbox-table"
            />
          </td>
          <td>
            <app-button
              name="Editar"
              (click)="openModalEdition(user)"
              style="margin-right: 8px"
            ></app-button>
            <app-button name="Remover"></app-button>
          </td>
        </tr>
        } @empty {
        <p>Nenhum resultado encontrado.</p>
        }
      </tbody>
    </table>
  </section>

  <app-modal [isVisible]="isModalVisible">
    <form class="modal-user" [formGroup]="addUserForm">
      <app-input type="text" placeholder="Usuário" formControlName="name" />
      <app-input type="text" placeholder="Título" formControlName="title" />
      <app-input type="text" placeholder="Data" formControlName="date" />
      <app-input type="text" placeholder="Valor" formControlName="value" />
      <app-button
        name="Salvar"
        style="display: flex; justify-content: end"
      ></app-button>
    </form>
  </app-modal>

  <app-modal [isVisible]="isModalVisibleEdition">
    <form class="modal-user" [formGroup]="editUserForm">
      <app-input type="text" placeholder="Usuário" formControlName="name" />
      <app-input type="text" placeholder="Título" formControlName="title" />
      <app-input type="text" placeholder="Data" formControlName="date" />
      <app-input type="text" placeholder="Valor" formControlName="value" />

      <app-button
        type="submit"
        name="Salvar"
        (click)="updateUserData()"
        style="display: flex; justify-content: end"
      ></app-button>
    </form>
  </app-modal>
</main>
